html {
    height: 100%
}

body {
    height: 100%;
    margin: 0;
    background-color: #f2f2f2;
    font-family: RotisSansSerif;
}

#window {
    height: 100%;
    width: 100%;
}
/*
light-grey: #CCCCCC
green: #00B482
purple: #711E82

*/

#chatWindow {
    display: none;
    background-color: #00B482;
    position: fixed;
    left: 5%;
    top: 5%;
    height: 90%;
    width: 90%;
}

#webchat {
    height: calc(100% - 39px);
    width: calc(100%-2px);
    padding: 2px;
}

#errorMessage {
    display: none;
}


/* ####################### TOOLBAR ########################*/

#chatwindowheader {
    height: 35px;
}


/* help Button */

#help {
    float: left;
    margin-left: 7px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 25px;
}

#help:hover,
#help:focus {
    cursor: pointer;
}

/* MS Teams Button*/

#msteams {
    float: right;
    margin-right: 7px;
    height: 35px;
}

#msteams:hover,
#msteams:focus {
    cursor: pointer;
    background-color: #999999;
}


/*  ####################### Stuff ########################*/


/* Changing link color */

a {
    color: #00b482;
}


/* Maybe broken after update, necessary for BKC Design Guidlines*/

.ac-pushButton {
    font-family: RotisSansSerif;
    font-size: 100%;
    color: #00B482 !important;
}

.ac-pushButton:hover,
.ac-pushButton:focus {
    cursor: pointer;
}

.css-115fwte:hover,
.css-115fwte:focus {
    cursor: pointer;
}

.ac-textBlock {
    white-space: normal !important;
    text-align: center !important;
}
